/* .myCard{
    width: 25rem;
}

.my-btn{
    display: block;
    transition: all 500ms ease-in-out;
}

.my-btn:hover{
    background-color: blueviolet;
}

@media only screen and (max-width : 400px) {
    .myCard {
        margin-bottom: 2rem;
        
    }
} */