body{
    background-color: grey;
}

.info_main{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12vh;
    transform: translateX(90vh);
    min-width: 200px;
    width: 350px;
    min-height: 80px;
    height: 100px;
    border-radius: 8px;
    background-color: black;
    transition: all 500ms ease-out;
}

.red{
    /* background-color: red; */
    border-left: 5px solid red;
}

.green{
    /* background-color: green; */
    border-left: 5px solid green;
}

.black{
    transform: translateX(150vh);
}

.text{
    margin: 15px;
    margin-right: 50px;
    text-transform: capitalize;
    color: snow;
    text-align: center;
    font-family: monospace;
}