.main{
    margin: 30vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    margin: 0 10vh;
}

h1.text{
    color: black;
    font-weight: bolder;
    margin-bottom: 15vh;
}
    

    