.myContainer{
    min-height: 50vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-btn{
    min-width: 300px;
}

h1.text{
    position: absolute;
    top: 25vh;
    left: 46%;
}